/* PUT STYLES HERE BUDDY! */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #000000dc;
    color: rgb(245, 245, 245);
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
}

.main-header {
    text-align: center;
}

.main-nav ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.main-nav ul li {
    align-items: center;
    background-color: #000000dc;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

.main-nav ul li a {
    align-items: center;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}