/* CSS BOX MODEL */
/* 
    v - Meet the team! - v
    1. The content: Any semantic value.
    2. The padding: Between the content and the border.
    3. The border: Between the padding and the margin.
    4. The margin: Between its box and other boxes.
*/

/* BLOCKS */
h1, p {
    /* `background-color` is for background color. <3 */
    background-color: #dde0e3;
}

/* INLINE */
em, strong {
    /* Those values for the `background-color` are using HEX form. */
    background-color: #b2d6ff;
    /* This is not a good idea, but you can turn their behaviour to `display: block;` */
    /* display: block; */
    /* This is the default property... */
    display: inline;
}