/* CSS BOX MODEL */
/* 
    v - Meet the team! - v
    1. The content: Any semantic value.
    2. The padding: Between the content and the border.
    3. The border: Between the padding and the margin.
    4. The margin: Between its box and other boxes.
*/

/* BLOCKS */
h1, p {
    /* `background-color` is for background color. <3 */
    background-color: #dde0e3;
}

/* INLINE */
em, strong {
    /* Those values for the `background-color` are using HEX form. */
    background-color: #b2d6ff;
    /* This is not a good idea, but you can turn their behaviour to `display: block;` */
    /* display: block; */
    /* This is the default property... */
    display: inline;
}

/* Meet the PADDING... */
h1 {
    /* Top, right, bottom, and left 50px of padding. */
    padding: 50px;
}

/* You can also individually set top, right, bottom, and left, properties. */
p {
    /* Also, use different units! */
    /* Using pixels... */
    padding-top: 20px;
    /* Using centimeters! */
    padding-right: 5cm;
    /* Using rem units. */
    padding-bottom: 5rem;
    /* Using em units. */
    padding-left: 2em;
    /* Also, use shorthands for that situation... */
    padding: 20px 5cm 5rem 2em; /* TOP, RIGHT, BOTTOM, LEFT. */
}

/* Let's use another shorthand: */
body p {
    /* This is: TOP/BOTTOM and LEFT/RIGHT */
    padding: 50px 60px;
}

/* END OF THE LINE FOR PADDING */