/* WE ARE GONNA USE FLEXBOX! */
/* Flexbox is an alternative of Float, and it's awesome! */
/* Flexbox gives us full control over our boxes, and Float doesn't do at all... */
/* Alignment, direction, size, order. That is Flexbox thoughts. */
/* Float is great... but later on... */
/* Float is good with magazine-style layout. */
/* However, Flexbox is great with overall page structure. */

/* Flexbox uses two types of boxes... */
/* Flex-container: Determine the layout, most for the part. */
/* Flex-item: Direct child of a flex-container... */

/* FLEX CONTAINERS */
/* NOTE: Learning about CSS Box Model is required. It's important to note that. */
/* Display property has a `flex` container. It's kinda block-level. */

/* RESET STYLES! */

/* Universal selector, with its pseudo-elements. */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* I don't want any padding and margin in my tests. */
}

/* Using our body for fonts! */
body {
    /* Roboto fonts. */
    font-family: Roboto, sans-serif;
}

/* Testing */
.box {
    /* Use only `background` property to add more style! */
    /* I used the `linear-gradient` function value! */
    /* This one (the gradient) takes two or more colors. */
    background: linear-gradient(red, blue);
    border: 2px solid burlywood;
    height: 150px;
    /* The padding affects 20px left/right, nothing in top/right. */
    padding: 0 20px;
    width: 250px;
}

/* Main container in action */
.container {
    background-color: #e94c4c;
    /* Display: Flex. */
    /* Flexbox layout is enabled. */
    /* We could combine it with other layouts! */
    display: flex;
    /* Aligning items, all of them from here. */
    /* We want to center all our items. Use `justify-content`. */
    justify-content: center;
    /* ------ */
    /* We want some padding... */
    padding: 20px;
}

/* Styling the nav and its contents... */
.nav ul li {
    /* Don't want any disc or dots... */
    list-style-type: none;
}
/* Style those anchors! Make them like actually buttons */
.nav ul li a {
    /* Appropiate color for the background. */
    color: rgb(250, 250, 250);
    /* Totally random those colors. */
    background-color: rgb(181, 63, 42);
    /* Let's add a border too! */
    /* The border isn't it curved at all. */
    /* And! We could use `box-shadow` property. */
    border: 2px solid rgb(155, 55, 35);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(155, 55, 35);
    /* By default, a elements are inline-level */
    display: block;
    /* We need some spacing here... */
    margin: 5px 0;
    padding: 5px 20px;
    /* We need to cut off that underline decoration. */
    text-decoration: none;
    /* For now, let's try with this `text-align` set to center. */
    text-align: center;
    /* This is an relative unit. Percentage. */
    width: 30%;
}

.nav ul li a:hover {
    /* This is a trick... do the opposite! */
    background-color: rgb(250, 250, 250);
    /* Let's add border here. */
    border: 2px inset rgb(181, 63, 42);
    color: rgb(181, 63, 42);
    /* Use the `cursor` set to pointer. */
    cursor: pointer;
}

.nav ul li a:active {
    /* When the user clicks on it. */
    border: 2px outset rgb(181, 63, 42);
}

/* Let's add some style to the logo image. */
.image-logo {
    /* Let's use some ALPHA style. Like, RGBA. */
    background-color: rgba(155, 55, 35, 0.1);
    /* Remember, the IMG is inline-level by default. */
    display: block;
    /* Set the height always in auto, unless your browser want to do whatever it wants. */
    height: auto;
    width: 100px;
}

/* Main content with its sections and articles... */
.content {
    background: linear-gradient(#e94c4c, rgb(181, 63, 42));
    /* When you don't have anything in your divs, you could use `width` anyway. */
    /* Also, let's use less width because it's too wide with the previous value. */
    width: 30%;
}

/* Now, let's try to add some width and heigh to those boxes. */
.box-content {
    color: #fffaaa;
    font-size: 10em;
    height: 350px;
    width: 100%;
}

.box-content1 {
    background-color: hsl(350, 47%, 41%);
}

.box-content2 {
    background-color: hsl(350, 39%, 47%);
}

.box-content3 {
    background-color: rebeccapurple;
}

.box-content4 {
    background-color: #af5719;
}

.box-content5 {
    color: black;
    background-color: antiquewhite;
}

.box-content6 {
    background-color: rgb(139, 129, 112);
}

/* Now, the footer. */
.footer {
    /* Let's put some margin between boxes! */
    margin: 20px 0;
}

.box-footer {
    /* Let's add some width and height. */
    background-color: rgb(84, 46, 60);
    height: 300px;
    width: 100%;
}

/* Adding a return button to the top. */
.arrow-return {
    /* Some background and border radius, and box shadow of course. */
    background-color:hsl(350, 39%, 47%);
    border-radius: 50px;
    /* You could add color in your box-shadow. */
    box-shadow: 3px 3px rgb(139, 129, 112);
    color: white;
    display: block;
    font-size: 5em;
    /* Inside of our arrow-return (`a` element) it's like a text. */
    /* Use `text-align: center`! */
    text-align: center;
    /* Remove that underline over there! */
    text-decoration: none;
    /* Let's use a small width over there. */
    width: 5%;
}

/* Hover is my favorite pseudo-class. */
.arrow-return:hover {
    color: rgb(0, 0, 0);
}

/* Trying to make a button without reference. */
.arrow-return:active {
    box-shadow: -3px 3px rgb(139, 129, 112);
}